body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: blueviolet;
}
header .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
header figure {}
header figure img {
    max-width: 100%;
    width: 120px;
    filter: invert(100%);
    padding-top: 20px;
}
header h1 {
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

main {
    display: flex;
    height: 76.5vh;
}
main section {
    width: 50%;
    padding: 100px 40px;
}

.sectionForm {
    background-color: blueviolet;
}

.mainForm {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 0 0 auto;
}

.mainForm input {
    margin-bottom: 10px;
    height: 25px;
    border: none;
    border-radius: 3px;
    box-shadow: 5px 3px 5px rgb(138, 87, 134);
}

.mainForm button {
    margin-top: 15px;
    height: 35px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 5px 3px 5px rgb(138, 87, 134);
    transition-duration: 0.3s;
}

.mainForm button:hover {
    background-color: rgb(224, 224, 224);
}

.sectionContactList {
    background-color: rgb(242, 216, 255);
}
.mainContactList {
    width: 100%;
    max-width: 450px;
}
.mainContactList li {
    background-color: whitesmoke;
    box-shadow: 10px 5px 5px rgb(184, 117, 180);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.mainContactList li button {
    float: right;
    background-image: url(../img/del_logo.png) ;
    width: 25px;
    height: 25px;
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid red;
    border-radius: 100%;
    cursor: pointer;
}
.mainContactList li h2 {
    font-size: 18px;
    font-weight: 600;
}
.mainContactList li p {
    margin: 5px 0;
}
.mainContactList li span {}
